<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1010877768397-l8tg192sgmr0795odhbglpt06g9hl2oq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1010877768397-l8tg192sgmr0795odhbglpt06g9hl2oq</string>
	<key>API_KEY</key>
	<string>AIzaSyAogDbXbVMxcyY7Z4dZJOfkFwqJuXepazo</string>
	<key>GCM_SENDER_ID</key>
	<string>1010877768397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gmekv.DogGram</string>
	<key>PROJECT_ID</key>
	<string>doggram-42120</string>
	<key>STORAGE_BUCKET</key>
	<string>doggram-42120.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010877768397:ios:04b8a858a4e4fcc5ca3f84</string>
</dict>
</plist>